---
import "../styles/global.css";

const renderedAt = new Date();
---

<html lang="en">
  <head> ... </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <p>Rendered At Millis: {renderedAt.getTime()}</p>
      <p>Rendered At ISO: {renderedAt.toISOString()}</p>
    </div>
  </body>
</html>
